/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
  font-family: "Inter", sans-serif;
}

* {
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  appearance: none;
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #ffffff20;
  border: 1px solid #ffffff20;
  border-radius: 3px;
}
*::-webkit-scrollbar-corner {
  background-color: transparent;
}